@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
p {
  font-size: 100%;
  text-align: justify;
  font-family: "Montserrat", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.2em;
  letter-spacing: 1%;
}

h2 {
  font-family: "Roboto Serif", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 180%;
}

body {
  padding: 5%;
}

.tbd-msg {
  font-size: 300%;
  font-family: "Roboto Serif", sans-serif;
}

.main-title {
  text-align: center;
  font-size: 270%;
  font-family: "Roboto Serif", sans-serif;
}
